# Hello World
## Welcome to the Azure HDInsight Jupyter Notebook

In [2]:
from pyspark.sql import *
from pyspark.sql.types import *

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [ ]:
# Create a Spark dataframe and table from sample data (note this is NOT a Pandas dataframe)
csvFile = spark.read.csv('/HdiSamples/HdiSamples/SensorSampleData/hvac/HVAC.csv', header=True, inferSchema=True)

In [ ]:
%%sql
DROP TABLE IF EXISTS hvac_ss01shh;

In [ ]:
csvFile.write.saveAsTable("hvac_ss01shh")

In [2]:
%%sql
SHOW TABLES

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   namespace                   tableName  isTemporary
0    default                 bristol_ian        False
1    default          bristol_properties        False
2    default                 bristol23_r        False
3    default                bristol23_r1        False
4    default                bristol23_r2        False
5    default                bristol23_r3        False
6    default                bristol23_r4        False
7    default  charlie_bristol_properties        False
8    default                charlie_hvac        False
9    default                  hvac_elena        False
10   default                    hvac_ian        False
11   default                   hvac_john        False
12   default                  hvac_john2        False
13   default                   hvac_matt        False
14   default                      hvac_r        False
15   default                hvac_s384638        False
16   default                  hvac_steve        False
17   default                 hvac_steve2        False
18   default          land_property_2023        False
19   default                   prop_data        False

In [20]:
%%sql
DESCRIBE TABLE hvac_ss01shh

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

                                         col_name data_type
0                               Organisation Name    string
1                               Organisation Code    string
2                                  Effective Date      date
3                                     Property ID       int
4                                   Property Type    string
5                                   Property Name    string
6           Property Name/Address (Where no UPRN)    string
7                        Secondary Address Detail    string
8                                   Street Number       int
9                                          Street    string
10                               Town / Post Town    string
11                                      Post Code    string
12                                           Ward    string
13                                Geo X (Easting)       int
14                               Geo Y (Northing)       int
15                                    Tenure Type    string
16                                Ground Lease In    string
17                               Ground Lease Out    string
18                            Lease In to Council    string
19                                      Lease Out    string
20                          Licence In to Council    string
21                                    Licence Out    string
22                        Sub-lease In to Council    string
23                                  Sub-lease Out    string
24                                         Vacant    string
25                                     Asset Type    string
26                       Building Size - GIA (M2)       int
27                           Site Area (Hectares)     float
28  Occupied by Council / Direct Service Property    string

In [34]:
%%sql
SELECT `buildingID`, (targettemp - actualtemp) AS `temp_diff`, date FROM hvac_ss01shh WHERE date = \"6/1/13\"

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

     buildingID  temp_diff       date
0             4          8 2013-06-01
1             3          2 2013-06-01
2             7        -10 2013-06-01
3            12          3 2013-06-01
4             7          9 2013-06-01
..          ...        ...        ...
262          15         -2 2013-06-01
263          15          2 2013-06-01
264           6          5 2013-06-01
265          11         -8 2013-06-01
266           5        -10 2013-06-01

[267 rows x 3 columns]

In [37]:
%%sql
SELECT COUNT(*) AS Count FROM hvac_ss01shh

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

   Count
0   8000